################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Net8FlyoutTitleBug/Net8FlyoutTitleBug/obj
/Net8FlyoutTitleBug/.vs/Net8FlyoutTitleBug
/Net8FlyoutTitleBug/Net8FlyoutTitleBug/bin/Debug/net8.0-android
